@import "tailwindcss";

body{
    background-color: black;
    color: white;
}

.profileImg {
  background-image: url(./assets/profile.png);
  width: 100%; /* Fills the parent container */
  max-width: 300px; /* Prevents excessive stretching */
  aspect-ratio: 1 / 1; /* Maintains square aspect ratio */
  background-size: cover; /* Ensures full coverage */
  background-position: center; /* Centers the image */
  border-radius: 50%;
  background-repeat: no-repeat;
}

/* This part changes the scrollbar track (the part behind the scrollbar) */
::-webkit-scrollbar-track {
    background: #000000; /* Dark grey color, you can choose any color you like */
  }
  
  /* This part changes the scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background: #060606; /* Medium grey color, this is the actual scrollbar */
  }
  
  /* You can also change the scrollbar width and height */
  ::-webkit-scrollbar {
    width: 12px; /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
  }